<br>
<h3>A Dynamic Data Analytics Workflow</h3>
<p>Due to the variety and increasing complexity of Data Analysis applications, and the types of users ranging from skilled programmers to novice data scientists, there is a need for scalable programming models with different levels of abstractions and design formalisms. </p>

<p>The programming models should adapt to user needs by allowing, </p>

<p>(i) ease in defining data analysis applications </p>
<p>(ii) effectiveness in the analysis of large datasets, </p>
<p>(iii) and efficiency of executing applications on large scale architectures.</p>
