
<p>Data Analytics consists of applying a sequence of steps in order to extract knowledge. This fits well with the workflow model we’re trying to enhance with SciFlow. Our project seeks to apply the SciFlow framework, in a Data Analytics context, in order to predict social unrest using the <a href="https://www.gdeltproject.org/">GDELT</a> (Global Database of Events, Language and Tone) dataset. Additional data is captured from the <a href="https://www.acleddata.com/">ACLED</a> (Armed Conflict Location & Event Data Project) dataset.</p>

<p>Accordingly, we construct the below data analytics workflow, which include the following features;</p>

<ul>
  <li>Multiple workflow components</li>
  <li>Interacting workflow modules</li>
  <li>Reusable and parallelizable modules</li>
  <li>Complex workflow constructs, such as intersections and forks</li>
  <li>Dynamic decision making</li>
</ul>

<!--<img src="../../../assets/png/wf.png" alt="Smiley face" class="center" width="500px">-->
<p>INSERT IMAGE DA WORKFLOW. CHECK DRIVE /website/png/</p>
<p>You can contribute to this project at <a href="https://github.com/SciFlow-FYP/parsl">https://github.com/SciFlow-FYP/parsl</a><p>
