
<div class="col-md-1"></div>
  <div class="col-md-10">
      <div class="panel panel-default">
          <div class="panel-body">
            <br>
            <p>The idea behind SciFlow originated from static workflows, commonly observed in the scientific domain. Most tasks that we, as researchers and analyst, perform, are easily expressible as workflows. Such workflows have the ability to provide us with much needed abstraction, integration and reusability, and thereby, easing the process of scientific knowledge discovery.</p>
            <p>With a workflow, we could easily formulate a procedure and establish inter-relationships between dependent tasks. Static workflows are more commonly found in the scientific domain. However, in modern applications, the concept of static workflows are no longer tenable due to the fact that it is beneficial to be able to perform reconfiguration dynamically. </p>
            <p>This brings forth the concept of dynamic workflows. Dynamic workflows would build another level of abstraction on top of static workflow composition and enable domain experts to define a thread of control dynamically; providing convenience and ease of use.  </p>

            <p>With SciFlow users can <b>compose and reuse modules in such dynamic scientific workflows.</b> The project utilizes the notion of control driven coordination to dynamically compose interacting software modules during execution through means of orchestration. </p>
            <p>Workflow orchestration is performed using <b>Golang</b>, utilizing one of the most exciting aspects of the language; its concurrency model. Furthermore, the SciFlow extracts the computational power of an HPC cluster with the help of <b>Parsl</b>, a parallel scripting library, to carry out this task effectively and efficiently.</p>
            <br>
            <h3 class="italic">Our Goal</h3>
            <p>Enhancing programming expressiveness and convenience for Scientists and Domain Experts in performing massive scientific tasks.</p>
            <br>
            <h3 class="italic">Our Objectives</h3>

            <ul>
              <li>Provide an efficient layer of abstraction for convenient  manipulation of  workflows to perform massive scientific tasks</li>
              <li>Implement dynamic orchestration of workflows </li>
              <li>Enable users to fully exploit the power of cloud infrastructure to greatly improve the efficiency of performing analysis tasks</li>
              <li>Enable domain experts to efficiently carry out data analytics tasks by providing a convenient programming paradigm for HPC</li>
            </ul>





          </div>
      </div>
  </div>

<div class="col-md-1"></div>
