<tabset #tabset>
  <tab heading="Pre-requisites">
    <app-pre-requisites></app-pre-requisites>
  </tab>

  <tab heading="Running the framework">
    <app-run-framework></app-run-framework>
  </tab>

  <tab heading="Next steps">
    <app-next-steps></app-next-steps>
  </tab>

</tabset>

<!--
<button type="button" class="btn btn-default" (click)='goto(0)'>Pre-requisites</button>
<button type="button" class="btn btn-default" (click)='goto(1)'>Running the framework</button>
<button type="button" class="btn btn-default" (click)='goto(2)'>Next steps</button>
-->
