<tabset #tabset>
  <tab heading="Case Study">
    <app-tsp></app-tsp>
  </tab>

  <tab heading="Results and Evaluation">
    <app-results-tsp></app-results-tsp>
  </tab>
<!--
  <tab heading="Evaluation">
    <app-evaluation-tsp></app-evaluation-tsp>
  </tab>-->
</tabset>

<!--
<button type="button" class="btn btn-default" (click)='goto(0)'>What is a workflow?</button>
<button type="button" class="btn btn-default" (click)='goto(1)'>Dynamic Workflows</button>
<button type="button" class="btn btn-default" (click)='goto(2)'>Composability</button>
<button type="button" class="btn btn-default" (click)='goto(3)'>Implicit Parallelism</button>
-->
