.center {
  text-align: center;
}

.row {
  margin: 0px;
}

/*
div.image {
  content:url("../../../assets/logowithsub.png");

}

*/

#homelogo{
  max-width: 100%;
}

.media-left {
  padding-left: 30px;
}

.media-body {
  padding-left: 30px;
  padding-top: 10px;
}

img {
  object-fit:cover;
}
