
<div class="row image">
  <img id="homelogo" src="../../../assets/logowithsub.png" alt="Smiley face">
</div>

<!--
<div class="image">

</div>
-->
<h3 style="text-align: center">Getting started</h3>
<div class="center">
  <img src="../../../assets/github.png" alt="Smiley face" width="80px">
  <a href="https://github.com/SciFlow-FYP/SciFlow">
    <!--#45-->
    <h4>GitHub</h4>
  </a>
</div>

<br>

<div class="row">

</div>
<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="media">
    <div class="media-left media-top">
      <a href="#">
        <img class="media-object" src="../../../assets/icons/reusable.png" height="80px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><b>Reusable modules</b></h4>
      <p>The modules you create are fully reusable. They can easily be plugged to any workflow you create thereafter.</p>
    </div>
  </div>
</div>
<div class="col-md-1"></div>

<div class="row">

</div>
<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="media">
    <div class="media-left media-top">
      <a href="#">
        <img class="media-object" src="../../../assets/icons/spawn.png" height="80px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><b>Spawn multiple instances of the same module in parallel</b></h4>
      <p>With a simple ‘for’ loop, Parsl would generate and execute many instances of a single module.</p>
    </div>
  </div>
</div>
<div class="col-md-1"></div>

<div class="row">

</div>
<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="media">
    <div class="media-left media-top">
      <a href="#">
        <img class="media-object" src="../../../assets/icons/dynamic.png" height="80px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><b>Construct Dynamic Workflows</b></h4>
      <p>The Go thread would make a decision regarding the most appropriate path to take and redirect along this path.</p>
    </div>
  </div>
</div>
<div class="col-md-1"></div>

<div class="row">

</div>
<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="media">
    <div class="media-left media-top">
      <a href="#">
        <img class="media-object" src="../../../assets/icons/embeddedcontrollogic.png" height="80px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><b>Embedded Control Logic</b></h4>
      <p>No need to rely on external modules to make run-time decision. Allow SciFlow’s Go Lang control thread to do that for you!</p>
    </div>
  </div>
</div>
<div class="col-md-1"></div>

<div class="row">

</div>
<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="media">
    <div class="media-left media-top">
      <a href="#">
        <img class="media-object" src="../../../assets/icons/flexibility.png" height="80px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><b>Flexibility</b></h4>
      <p>Each module (event) is executed once the event is ready. Channels provide the ability for the workflow to be event-driven.</p>
    </div>
  </div>
</div>
<div class="col-md-1"></div>

<div class="row">

</div>
<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="media">
    <div class="media-left media-top">
      <a href="#">
        <img class="media-object" src="../../../assets/icons/composability.png" height="80px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><b>Composability</b></h4>
      <p>A very generic control thread! With minor changes, you can easily construct any workflow.</p>
    </div>
  </div>
</div>
<div class="col-md-1"></div>

<div class="row">

</div>
<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="media">
    <div class="media-left media-top">
      <a href="#">
        <img class="media-object" src="../../../assets/icons/predefinedworkflowinstructions.png" height="80px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><b>Predefined workflow instructions</b></h4>
      <p>Setup the control thread beforehand and the script would run with no intervention required.</p>
    </div>
  </div>
</div>
<div class="col-md-1"></div>

<div class="row">

</div>
<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="media">
    <div class="media-left media-top">
      <a href="#">
        <img class="media-object" src="../../../assets/icons/HPC.png" height="80px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><b>Easy Configuration on HPC</b></h4>
      <p>With the use of Parsl, you could easily adjust machine(threads/cores) or cluster configurations, by simply loading a pre-written configuration file.</p>
    </div>
  </div>
</div>
<div class="col-md-1"></div>

<div class="row">

</div>
<div class="col-md-1"></div>
<div class="col-md-10">
  <div class="media">
    <div class="media-left media-top">
      <a href="#">
        <img class="media-object" src="../../../assets/icons/mapreduce.png" height="80px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><b>Map-reduce like approach</b></h4>
      <p>The framework’s approach maps to a manual map-reduce-like approach, thereby, providing all the benefits of map reduce as well.</p>
    </div>
  </div>
</div>
<div class="col-md-1"></div>
