
<div class="col-md-1"></div>
  <div class="col-md-10">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Features and Benefits</h3>
          </div>
          <div class="panel-body">
            <br>
          <ul>
            <li>
            <b>Reusability</b>
            <p>With SciFlow, the modules you create are fully reusable. The can easily be plugged to any workflow you create thereafter. </p>
            <p>Creating such modules are easy as well! They are simply python functions. </p>
            </li>
            <li>
            <b>Spawn many Instances</b>
            <p>You can now spawn multiple instances of the same module in parallel, with very little trouble! With a simple ‘for’ loop, Parsl would generate and execute many instances of a single module. </p>
            </li>
            <li>
            <b>Dynamism</b>
            <p>The go control thread would make run-time decisions for you!  The Go thread would make a decision regarding the most appropriate path to take and redirect along this path.</p>
            </li>
            <li>
            <p>This allows the framework to perform hyper-parameter optimization and meta-heuristics. No manual intervention is required. The framework would select the best parameter/solution set and forward it to the next stage of the workflow.</p>
            </li>
            <li>
            <b>Flexibility</b>
            <p>Each module (event) is executed once the event is ready. Channels provide the ability for the workflow to be event-driven.</p>
            </li>
          </ul>

          </div>
      </div>
  </div>

<div class="col-md-1"></div>
