<tabset #tabset>
  <tab heading="Introduction to your first SciFlow Workflow ">
    <app-intro></app-intro>
  </tab>

  <tab heading="Running the framework">
    <app-runwf></app-runwf>
  </tab>

  <tab heading="Step 01">
    <app-step1></app-step1>
  </tab>

  <tab heading="Step 02">
    <app-step2></app-step2>
  </tab>

  <tab heading="Step 03">
    <app-step3></app-step3>
  </tab>

  <tab heading="Step 04">
    <app-step4></app-step4>
  </tab>

  <tab heading="Step 05">
    <app-step5></app-step5>
  </tab>

  <tab heading="Step 06">
    <app-step6></app-step6>
  </tab>

  <tab heading="Build your own workflow!">
    <app-build></app-build>
  </tab>

</tabset>

<!--
<button type="button" class="btn btn-default" (click)='goto(0)'>Introduction to your first SciFlow Workflow </button>
<button type="button" class="btn btn-default" (click)='goto(1)'>Running the framework</button>
<button type="button" class="btn btn-default" (click)='goto(2)'>Step 01</button>
<button type="button" class="btn btn-default" (click)='goto(3)'>Step 02</button>
<button type="button" class="btn btn-default" (click)='goto(4)'>Step 03</button>
<button type="button" class="btn btn-default" (click)='goto(5)'>Step 04</button>
<button type="button" class="btn btn-default" (click)='goto(6)'>Step 05</button>
<button type="button" class="btn btn-default" (click)='goto(7)'>Step 06</button>
<button type="button" class="btn btn-default" (click)='goto(8)'>Build your own workflow!</button>
-->
