<tabset #tabset>
  <tab heading="Case Study">
    <app-da></app-da>
  </tab>

  <tab heading="Results">
    <app-results></app-results>
  </tab>

  <tab heading="Evaluation">
    <app-evaluation></app-evaluation>
  </tab>
</tabset>

<!--
<button type="button" class="btn btn-default" (click)='goto(0)'>What is a workflow?</button>
<button type="button" class="btn btn-default" (click)='goto(1)'>Dynamic Workflows</button>
<button type="button" class="btn btn-default" (click)='goto(2)'>Composability</button>
<button type="button" class="btn btn-default" (click)='goto(3)'>Implicit Parallelism</button>
-->
