
<div class="col-md-1"></div>
  <div class="col-md-10">
      <div class="panel panel-default">

          <div class="panel-body">
            <h3>Meet the team</h3>
            <h3>Supervisor</h3>
            <div class="media">
              <div class="media-left media-top">
                <a href="#">
                  <img class="media-object" src="../../../assets/dnr.jpg" height="130px">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><b>Dr. D.N.Ranasinghe</b></h4>
                B.Sc. (Elect. Eng.), M.Sc., DIC (Lond), Ph.D (Cardiff), MIEEE, MIET<br>
                Senior Lecturer,<br>
                University of Colombo School of Computing.
              </div>
            </div>

            <h3>Co - Supervisors</h3>
            <div class="row">
              <div class="col-md-6">
                <div class="media">
                  <div class="media-left media-top">
                    <a href="#">
                      <img class="media-object" src="../../../assets/ms.jpg" alt="..." height="130px">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><b>Mr. K.P.M.K. Silva</b></h4>
                    BSc (Col), MSc(York) (Lecturer)<br>
                    Lecturer,<br>
                    University of Colombo School of Computing.
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="media">
                  <div class="media-left media-top">
                    <a href="#">
                      <img class="media-object" src="../../../assets/ktk.jpg" alt="..." height="130px">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><b>Dr. Kasun Karunanayaka</b></h4>
                    Lecturer,<br>
                    University of Colombo School of Computing.
                  </div>
                </div>
              </div>
            </div>


            <h3>Developers</h3>
            <div class="row">
              <div class="col-md-6">
                <div class="media">
                  <div class="media-left media-top">
                    <a href="#">
                      <img class="media-object" src="../../../assets/kbr.jpeg" alt="..." height="130px">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><b>Ms. K.M.K.B.Ranasinghe</b></h4>
                    Final Year Software Engineering Undergraduate,<br>
                    University of Colombo School of Computing.<br>
                    email : kalpanibhagya.kb@gmail.com
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="media">
                  <div class="media-left media-top">
                    <a href="#">
                      <img class="media-object" src="../../../assets/rw.png" alt="..." height="130px">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><b>R. S. Wijayawardana</b></h4>
                    Final Year Software Engineering Undergraduate,<br>
                    University of Colombo School of Computing.<br>
                    email : rajiniw95@gmail.com
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <div class="row">
              <!--<div class="col-md-3"></div>-->
              <div class="col-md-6">
                <div class="media">
                  <div class="media-left media-top">
                    <a href="#">
                      <img class="media-object" src="../../../assets/adw.jpg" alt="..." height="130px">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><b>A. D. Wijewickrama</b></h4>
                    Final Year Software Engineering Undergraduate,<br>
                    University of Colombo School of Computing.<br>
                    email : amanda.dwijewickrama@gmail.com
                  </div>
                </div>
              </div>
              <!--<div class="col-md-3"></div>-->
            </div>


          </div>
      </div>
  </div>

<div class="col-md-1"></div>
