<p>We utilized two case studies in order to prove our hypothesis; dynamic composition of workflows provided by SciFlow is a convenient programming paradigm for scientists to perform massive computational tasks.</p>
<p>In line with this objective, the case studies were selected to fulfil the following requirements;    </p>

<h3>The ability to express the application as a workflow</h3>
<p>Workflows as means of knowledge discovery is a convenient design approach, and has emerged as an effective paradigm. The principle of workflows should easily transferred and applied to the domain considered. The usage of workflows should enhance the process by enabling domain experts to combine and reuse independent and composable modules.</p>

<h3>The need for compositionality by the end user</h3>
<p>The end-user should have the ability to easily implement other data analytics modules, develop new algorithms, manipulate the framework to suit their dataset or construct a different data analytics workflow.  </p>

<h3>Scope for dynamicity within the workflow</h3>
<p>The framework developed would enable users to construct dynamic workflows and make decisions in run-time. This provides our users with the ability to perform Hyper-Parameter Optimization, meta-heuristics or any similar task, requiring the workflow to change course based on run-time decision. The case studies considered, capture this requirement. </p>

<h3>High Performance Computing requirements for the selected application</h3>
<p>Large amounts of structured and unstructured data generated through various systems, processes and actions within and outside of companies on a daily basis brings forth the need of High Performance Computing. Case studies had to be chosen, such that this need too was considered.</p>

<p>The above mentioned requirements should be satisfied by the case studies chosen, in order to show the flexibility provided by SciFlow. Accordingly, we selected Data Analytics for the purpose of demonstrating the applicability of the system to a dynamic workflow with Hyper-Parameter Optimization requirements and a Particle Swarm Optimization based solution for the Travelling Salesman Problem to demonstrate loop-like behaviour allowed within the framework. </p>
