/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url(http://fonts.googleapis.com/css?family=Sourece+Sans+Pro:400,300,700);

* {
  font-family: 'Sourece Sans Pro', sans-serif !important;
  font-size: 16px;
}

p, li {
  line-height: 200%;
}
