/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
//@import url(http://fonts.googleapis.com/css?family=Sourece+Sans+Pro:400,300,700);
//@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
* {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
}

p, li {
  line-height: 200%;
  text-align: justify;
}

p {
  margin-top: 0em ;
  margin-bottom: 1.5em ;
}

h3 {
  margin-top: 0em;
  color: #808080;
  line-height: 200%;
}

.panel-default{
  border-color: #fff;
  box-shadow:none;
}

.panel-default .noshadow {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

img {
  margin-top: 0em ;
  margin-bottom: 1.5em ;
}

::ng-deep tab {
  font-size: 10px;
}

pre {
    overflow: auto;
    color: #00EE76;
    background: #000000;

    padding: 20;
    //font-size: 0.8rem;
    //font-family: Menlo, Monaco, monospace;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    position: relative;
	  //width: 300px;
}

pre {
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 40px;

}

code {
  font-family: 'Source Code Pro', monospace !important;
}
