/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
//@import url(http://fonts.googleapis.com/css?family=Sourece+Sans+Pro:400,300,700);
//@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif !important;
  font-size: 18px;
}

p, li {
  line-height: 200%;
  text-align: justify;
}

p {
  margin-top: 0em ;
  margin-bottom: 1.5em ;
}

h3 {
  margin-top: 0em;
  color: #808080;
  line-height: 200%;
}

.panel-default{
  border-color: #fff;
}

img {
  margin-top: 0em ;
  margin-bottom: 1.5em ;
}
/*
tabset {
  font-size: 10px;
}
*/
