
<div class="col-md-1"></div>
  <div class="col-md-10">
      <div class="panel panel-default">

          <div class="panel-body">
            <br>
            <p>Email us at <a href="sciflowframework@gmail.com">sciflowframework@gmail.com</a>. We would reply as soon as possible!  We love hearing how you are using SciFlow. </p>
            <p>If you would like to suggest new features, or participate in the discussion of implementation issues, please follow the project on <a href="https://github.com/SciFlow-FYP/">GitHub</a>.</p>
            <p>We welcome contributions! If you would like to contribute to SciFlow via code, documentation, testing, or in any other manner, please drop us an email first!</p>

            <div class="row support-logos">
              <div class="col-md-4"></div>
              <div class="col-md-2">
                <a href="https://github.com/SciFlow-FYP">
                  <img src="../../../assets/github.png" width="100">
                  <h4>GitHub</h4>
                </a>
              </div>
              <div class="col-md-2">
                <a href="#">
                  <img src="../../../assets/groups.jpeg" width="100">
                  <h4>Google Group</h4>
                </a>
              </div>
              <div class="col-md-4"></div>
            </div>
          </div>
      </div>
  </div>

<div class="col-md-1"></div>
